{% extends "layout.html" %}

{% block header %}

    <div class="container text-center">
        <h1>Hola</h1>
        <p class="lead">Butts</p>
    </div>

{% endblock header %}

{% block content %}

    {% for post in posts %}

        <div class="text-light container">
            <div class="row">
                <div class="col-lg-8 mx-auto border">

                    <h1 id="post-title{{ post }}"><a id="post-link"></a></h1>
                    <p id="post-date{{ post }}"></p>
                    <p id="post-content{{ post }}"></p>

                </div>
            </div>
        </div>

        <script>getPost({{ post }})</script>

    {% endfor %}

{% endblock content %}