<!-- GetPost Javascript-->
<script src=https://serverless-blog-files-bucket.s3-us-west-2.amazonaws.com/js/getPost.js></script>
{% extends "layout.html" %}

{% block header %}

    <div class="container text-center">
        <h1>Hola</h1>
        <p class="lead">Butts</p>
    </div>

{% endblock header %}

{% block content %}

    {% for post in dict %}

        <div class="text-light container">
            <div class="row">
                <div class="col-lg-11 mx-auto border">

                    <h1 id="post-title{{ post }}">Loading...</h1>
                    <p id="post-date{{ post }}">Loading...</p>
                    <p id="post-content{{ post }}">Loading...</p>

                </div>
            </div>
        </div>

        <script>getPost({{ post }})</script>

    {% endfor %}

{% endblock content %}